<div class="container">
<%= form_with(model: planter) do |form| %>
  <% if planter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planter.errors.count, "error") %> prohibited this planter from being saved:</h2>

      <ul>
        <% planter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.text_field :contact_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>