<body>
<p id="notice"><%= notice %></p>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Planters</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
            
          </div>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="container">
<%= link_to 'New Planter', new_planter_path,:class => "button btn btn-success"  %>
</div>
<br/>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planters.each do |planter| %>
      <tr>
        <td><%= planter.name %></td>
        <td><%= planter.address %></td>
        <td><%= planter.contact_no %></td>
        <td><%= link_to 'Show', planter %></td>
        <td><%= link_to 'Edit', edit_planter_path(planter) %></td>
        <td><%= link_to 'Destroy', planter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</body>