<body>
<p id="notice"><%= notice %></p>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Planter Details</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
            
          </div>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @planter.address %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @planter.contact_no %>
</p>

<%= link_to 'Edit', edit_planter_path(@planter) %> |
<%= link_to 'Back', planters_path %>
<br/>
<br/>
<h3>List of Plantations:</h3>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Town</th>
      <th>Barangay</th>
      <th>Zone</th>
      <th>Km Distance</th>
      <th>Area code</th>
    </tr>
  </thead>
  <tbody>
  <% @planter.plantations.each do |plantation| %>
    <tr>
      <td><%= plantation.area.town %></td>
      <td><%= plantation.area.barangay %></td>
      <td><%= plantation.area.zone %></td>
      <td><%= plantation.area.km_distance %></td>
      <td><%= link_to plantation.area.id, area_path(plantation.area) %></td>
    <% end %>
    </tr>
  </tbody>
  </table>
</div>
</body>