<p id="notice"><%= notice %></p>

<h1>Plantations</h1>
<div>
<%= link_to 'New Plantation', new_plantation_path,:class => "button btn btn-success"  %>
</div>
<br/>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Coordinates</th>
      <th>Town</th>
      <th>Barangay</th>
      <th>Zone</th>
      <th>Planter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantations.each do |plantation| %>
      <tr>
        <td><%= plantation.name %></td>
        <td><%= plantation.description %></td>
        <td><%= plantation.coordinates %></td>
        <td><%= plantation.area.town %></td>
        <td><%= plantation.area.barangay %></td>
        <td><%= plantation.area.zone %></td>
        <td><%= link_to plantation.planter.name, planter_path(plantation.planter)%></td>
        <td><%= link_to 'Show', plantation %></td>
        <td><%= link_to 'Edit', edit_plantation_path(plantation) %></td>
        <td><%= link_to 'Destroy', plantation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>