<from>
<%= form_with(model: dispatch) do |form| %>
  <% if dispatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dispatch.errors.count, "error") %> prohibited this dispatch from being saved:</h2>

      <ul>
        <% dispatch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group row">
      <div class="col-10">
        <%= form.label :status %>
        <%= form.text_field :status %>
      </div>
    </div>
    <div class="form-group row">
     <div class="col-10">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
    </div>

    <div class="form-group row">
     <div class="col-10">
        <%= form.label :time_arrived %>
        <%= form.datetime_select :time_arrived %>
      </div>
    </div>

    <div class="form-group row">
       <div class="col-10">
        <%= form.label :driver_id %>
        <%= form.text_field :driver_id %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-10">
        <%= form.label :plantation_id %>
        <%= form.text_field :plantation_id %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  
<% end %>
</form>