<%= form_with(model: area) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town %>
  </div>

  <div class="field">
    <%= form.label :barangay %>
    <%= form.text_field :barangay %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.number_field :zone %>
  </div>

  <div class="field">
    <%= form.label :km_distance %>
    <%= form.number_field :km_distance %>
  </div>

  <div class="field">
    <%= form.label :fuel %>
    <%= form.text_field :fuel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
