<body>
<p id="notice"><%= notice %></p>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Area Details</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
            
          </div>
<div class="container" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Town:</strong>
  <%= @area.town %>
</p>

<p>
  <strong>Barangay:</strong>
  <%= @area.barangay %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @area.zone %>
</p>

<p>
  <strong>Km distance:</strong>
  <%= @area.km_distance %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @area.fuel %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
</table>
<br/>
<br/>
<h4>List of Planters:</h4>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact No.</th>
    </tr>
  </thead>

  <tbody>
  <% @area.plantations.each do |plantation| %>
    <tr>
      <td><%= link_to plantation.planter.name, planter_path(plantation.planter)%></td>
      <td><%= plantation.planter.address %></td>
      <td><%= plantation.planter.contact_no %></td>
    <% end %>
    </tr>
  </tbody>
</table>
</div>
<body>