<body>
<p id="notice"><%= notice %></p>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Drivers</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
            
          </div>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="container">
<%= link_to 'New Driver', new_driver_path,:class => "button btn btn-success"   %>
</div>
<br/>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Affiliation</th>
      <th>Address</th>
      <th>Date employed</th>
      <th>Contact no</th>
      <th>Truck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.affiliation %></td>
        <td><%= driver.address %></td>
        <td><%= driver.date_employed %></td>
        <td><%= driver.contact_no %></td>
        <td><%= driver.truck_id %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>