<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @driver.affiliation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>Date employed:</strong>
  <%= @driver.date_employed %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @driver.contact_no %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @driver.truck_id %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
